<?xml version="1.0" encoding="UTF-8"?>
<policyconfig>
  <action id="com.datasaver.gui">
    <description>Launch Datasaver GUI</description>
    <message>Authentication is required to launch Datasaver.</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>
</policyconfig>

