[Desktop Entry]
Name=Datasaver 
Exec=/usr/local/bin/datasaver.py
Terminal=false
Type=Application
Icon=network-wireless 
Categories=Network;Utility;
Comment=Datasaver, Reduce your bandwidth cost/protect you from scavenging websites as you surf the internet 
StartupNotify=true
X-GNOME-Autostart-enabled=true

